@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(210, 60%, 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 36rem;
}